### Business Problem

### This is a peer comparison project. Suppose that you are working for Samsung in customer experience management team. The idea is to regularly monitor the customer satisfaction levels and peer company moves. The competitor company is Apple. The objective is to test two main hypothesis.

### It might be possible that both hypothesis are correct, one of them is correct or both of them are wrong. Perform the relevant testing to verify these assumptions.

### The data is collected for 100 Samsung customers and 100 Apple customers. Their satisfaction scores are recorded. The sample represent the data and it is unbiased.

In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [4]:
#Importing the dataset and assigning it to a variable test
Test = pd.read_csv("E:Datasets/Testing_Of_Hypothesis.csv")
Test.head()

   Sr No S_Cust_id  Samsung Score Apple_Cust_id  Apple_Score
0      1   S336499             94       A336525           82
1      2    S73004             99        A73011           83
2      3    S79537             74        A79538           88
3      4   S769168             74       A769222           80
4      5   S609791             83       A609801           74

### 1. The Samsung Average customer satisfaction score is minimum 75%.

### One Sample T-test

#### Ho : Samsung Average Customer Satisfaction Score == 75%

#### Ha : Samsung Average Customer Satisfaction Score != 75%

In [10]:
#Calculation mean of all customer samsung score
mean_sat = Test['Samsung Score'].mean()
mean_sat

84.9

In [7]:
#Converting the Samsung Average Customer satisfaction score 75% into real number
per_sat = 0.75 * 84.9
per_sat

63.675000000000004

#### Performing one sample t-test

In [9]:
ttest_1 = stats.ttest_1samp(a=Test['Samsung Score'], popmean = 63.675000000000004 )
t_score = round(ttest_1.statistic,2)
p_value = ttest_1.pvalue
print("The p value is {} and the T Score is {}".format(p_value,t_score))

The p value is 7.714674273163621e-33 and the T Score is 17.92

#### Conclusion

 - Since the significance value of the test is less than 0.05, we reject the null hypothesis. Therefore Samsung Average Customer Satisfaction Score is not equal to 75%. Hence the hypothesis The Samsung Average customer satisfaction score is minimum 75% is wrong.

### 2. The overall average satisfaction score of Samsung is same as Apple. There is no significant difference in the satisfaction scores.

In [11]:
sam_score = Test['Samsung Score']

app_score = Test['Apple_Score']

In [13]:
sam_score.mean()

84.9

In [15]:
print("The average satisfaction scores of Samsung customers is {}".format(sam_score.mean()))

The average satisfaction scores of Samsung customers is 84.9

In [14]:
app_score.mean()

87.81

In [16]:
print("The average satisfaction scores of Apple customers is {}".format(app_score.mean()))

The average satisfaction scores of Apple customers is 87.81

### Two Sample t-test(Independent)

#### Method used : stats.ttest_ind(a=,b=)

-Two different assumptions:
#1. Apple customer satisfaction score and Samsung customer satisfaction store have equal variance
#2. Apple customer satisfaction score and Samsung customer satisfaction store have unequal variance

-If t-value is same in both the cases : Variance in A == Variance in B
  but p-value might differ so we go with equal_var = True

-If T-values are different : Variance in A != Variance in B
  In this condition we will go with equal_var = False

#### H0 :  Satisfaction score of Samsung ==  Satisfaction score of Apple
#### H1 : Satisfaction score of Samsung != Satisfaction score of Apple

In [19]:
#Equal Variance i.e equal_var = True
eq_var = stats.ttest_ind(a= sam_score,
                         b=app_score,
                        equal_var = True)
eq_var.statistic

-1.9064295935043472

In [23]:
#Unequal Variance i.e equal_var = False
Uneq_var = stats.ttest_ind(a= sam_score,
                         b=app_score,
                        equal_var = False)
Uneq_var.statistic

-1.9064295935043474

#### We will consider Equal_variance since T-score (statistic) is not having huge difference between both the tests

In [26]:
Uneq_var.statistic - eq_var.statistic

0.0

In [27]:
p = eq_var.pvalue
t = eq_var.statistic

print("For the above test, the t-score is {} and the p-value is {}".format(t,p))

if (p<0.05):
    print("We reject Null hypothesis")
else:
        print("We Fail to reject Null hypothesis")

For the above test, the t-score is -1.9064295935043474 and the p-value is 0.05810311766331876
We Fail to reject Null hypothesis

#### Conclusion

* Since the significance value of the test is greater than 0.05, we can safely conclude that The overall average satisfaction score of Samsung is same as Apple. There is no significant difference in the satisfaction scores. Hence the hypothesis **The overall average satisfaction score of Samsung is same as Apple. There is no significant difference in the satisfaction scores** is correct